<body class="short_main">
<div id="container">

    <div id="header">

        <ul>
            <li class="active" >
                <a href="/signsmart2/index.php/site/kiosk" ><img src="/signsmart2/themes/sign_smart/images/img_signsmart.png" alt="Kiosk"></a>
            </li>
            <li class="">
                <a href="/signsmart2/index.php/site/upgrademember" ><img src="/signsmart2/themes/sign_smart/images/img_subscribe.png" alt="Sign up"></a>
            </li>
            </li>
            <li class=""><a href="/signsmart2/index.php/site/login" ><img src="/signsmart2/themes/sign_smart/images/img_login.png" alt="Login"></a>
            </li>
        </ul>    </div><!-- /header -->


    <div id="main" holder="loading">
        <div id="content">
            <div id="slider2" class="registration_col2" style="width:100%;">
                <img src="/signsmart2/themes/sign_smart/images/bg_center.jpg" style="height: 512px;width: 944px;" alt=""/>
            </div>
            <div class="clr"></div>

            <div style="width:270px;margin:  60px auto;color: #00FFFF;">
                <i><a href="javascript:signup()" noloading="true" style="color: #00FFFF;text-decoration: underline">Sign up</a> to participate in our beta testing!</i>
            </div>


        </div><!-- content -->
        <!-- /#content -->
        <div id="main_bottom">
            <a href=" /signsmart2/index.php/site/dashboard " class="logoBot">&nbsp;</a>
            <a href=" /signsmart2/index.php/site/logout " class="btn">&nbsp;</a>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
    </div><!-- /main -->
    <div class="clr"></div>
</div><!-- /#container -->


</body>