<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<style>
    #remote-panel {
        width: 300px;
        height: 480px;
        display: block;
        background: url('http://localhost:63342/ss-ajs-03232015/frontend/web/angularjs/css/ss/images/remote/black_bg.png') no-repeat;;
        position: relative;
        margin: 0 auto;
    }

    .skin-box {
        position: absolute;
        z-index: 1;
        list-style: none outside none;
        text-align: center;
    }

    a.box{
        text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
        text-align: center;
        cursor: pointer;
    }
</style>

<div id="remote-panel" class="scroll skin">


    <!-- COLUMN 0 BEGIN: -->
    <div class="kiosk-column">
        <div class="skin-box " id="box_0_0" data-i="0" not_scroll="0" data-c="0" data-r="0" system_id="29750"
             style="width:70px;height:28px;top:107px;left:32px">
            <a class="box">
                <img src="http://signsmart.com/beta/uploads/thumbnails/image-fbyyphm-1425908722_thumb__.png">

                <span class="kiosk-content-name"></span>

            </a>

        </div>
    </div>
    <!-- COLUMN 0 END. --><!-- COLUMN 1 BEGIN: -->
    <div class="kiosk-column">
        <div class="up-vertical" data-scroll-id="up_vertical_" data-c="" noloading="true"
             style="top:0px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-up_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="down-vertical" data-scroll-id="down_vertical_" data-c="" noloading="true"
             style="top:2px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-down_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="skin-box " id="box_1_0" data-i="0" not_scroll="0" data-c="1" data-r="0" system_id="29754"
             style="width:67px;height:29px;top:106px;left:118px">
            <a class="box">
                <img src="http://signsmart.com/beta/uploads/thumbnails/image-jjwhwrf-1425908791_thumb__.png"/>

                <span class="kiosk-content-name"></span>

            </a>

        </div>
    </div>
    <!-- COLUMN 1 END. --><!-- COLUMN 2 BEGIN: -->
    <div class="kiosk-column">
        <div class="up-vertical" data-scroll-id="up_vertical_" data-c="" noloading="true"
             style="top:0px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-up_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="down-vertical" data-scroll-id="down_vertical_" data-c="" noloading="true"
             style="top:2px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-down_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="skin-box " id="box_2_0" data-i="0" not_scroll="0" data-c="2" data-r="0" system_id="29755"
             style="width:60px;height:28px;top:106px;left:200px">
            <a class="box">
                <img src="http://signsmart.com/beta/uploads/thumbnails/image-epojcas-1425908989_thumb__.png"/>

                <span class="kiosk-content-name"></span>

            </a>

        </div>
    </div>
    <!-- COLUMN 2 END. --><!-- COLUMN 3 BEGIN: -->
    <div class="kiosk-column">
        <div class="up-vertical" data-scroll-id="up_vertical_" data-c="" noloading="true"
             style="top:0px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-up_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="down-vertical" data-scroll-id="down_vertical_" data-c="" noloading="true"
             style="top:2px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-down_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="skin-box " id="box_3_0" data-i="0" not_scroll="0" data-c="3" data-r="0" system_id="29922"
             style="width:71px;height:68px;top:171px;left:29px">
            <a class="box">
                <img src="" cache_id="cache-captured-image-viozxna-1427337697"/>
                <img src="http://signsmart.com/beta/uploads/thumbnails/image-joumept-1425909118_thumb__.png"/>
                <span class="kiosk-content-name"></span>

            </a>

        </div>
        <div class="skin-box " id="box_3_1" data-i="1" not_scroll="0" data-c="3" data-r="1" system_id="29924"
             style="width:70px;height:68px;top:170px;left:114px">
            <a class="box">
                <img src="http://signsmart.com/beta/uploads/thumbnails/image-fahwjzf-1425909226_thumb__.png"/>

                <span class="kiosk-content-name"></span>

            </a>

        </div>
        <div class="skin-box " id="box_3_2" data-i="2" not_scroll="0" data-c="3" data-r="2" system_id="29925"
             style="width:64px;height:68px;top:171px;left:199px">

        </div>
    </div>
    <!-- COLUMN 3 END. --><!-- COLUMN 4 BEGIN: -->
    <div class="kiosk-column">
        <div class="up-vertical" data-scroll-id="up_vertical_" data-c="" noloading="true"
             style="top:0px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-up_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="down-vertical" data-scroll-id="down_vertical_" data-c="" noloading="true"
             style="top:2px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-down_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="skin-box " id="box_4_0" data-i="0" not_scroll="0" data-c="4" data-r="0" system_id="29923"
             style="width:33px;height:31px;top:17px;left:21px">
            <a class="box">
                <img src="http://signsmart.com/beta/uploads/thumbnails/image-ccqjwvy-1425909305_thumb__.png"/>

                <span class="kiosk-content-name"></span>

            </a>

        </div>
    </div>
    <!-- COLUMN 4 END. --><!-- COLUMN 5 BEGIN: -->
    <div class="kiosk-column">
        <div class="up-vertical" data-scroll-id="up_vertical_" data-c="" noloading="true"
             style="top:0px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-up_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="down-vertical" data-scroll-id="down_vertical_" data-c="" noloading="true"
             style="top:2px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-down_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="skin-box " id="box_5_0" data-i="0" not_scroll="0" data-c="5" data-r="0" system_id="29926"
             style="width:56px;height:55px;top:15px;left:205px">
            <a class="box">
                <img src="http://signsmart.com/beta/uploads/thumbnails/image-qfmvdyp-1425909400_thumb__.png"/>

                <span class="kiosk-content-name"></span>

            </a>

        </div>
    </div>
    <!-- COLUMN 5 END. --><!-- COLUMN 6 BEGIN: -->
    <div class="kiosk-column">
        <div class="up-vertical" data-scroll-id="up_vertical_" data-c="" noloading="true"
             style="top:0px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-up_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="down-vertical" data-scroll-id="down_vertical_" data-c="" noloading="true"
             style="top:2px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-down_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="skin-box " id="box_6_0" data-i="0" not_scroll="0" data-c="6" data-r="0" system_id="29927"
             style="width:64px;height:75px;top:284px;left:33px">

        </div>
        <div class="skin-box " id="box_6_1" data-i="1" not_scroll="0" data-c="6" data-r="1" system_id="29928"
             style="width:61px;height:75px;top:284px;left:116px">

        </div>
        <div class="skin-box " id="box_6_2" data-i="2" not_scroll="0" data-c="6" data-r="2" system_id="29929"
             style="width:57px;height:75px;top:284px;left:197px">

        </div>
    </div>
    <!-- COLUMN 6 END. --><!-- COLUMN 7 BEGIN: -->
    <div class="kiosk-column">
        <div class="up-vertical" data-scroll-id="up_vertical_" data-c="" noloading="true"
             style="top:0px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-up_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="down-vertical" data-scroll-id="down_vertical_" data-c="" noloading="true"
             style="top:2px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-down_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="skin-box " id="box_7_0" data-i="0" not_scroll="0" data-c="7" data-r="0" system_id="29930"
             style="width:101px;height:27px;top:375px;left:93px">

        </div>
    </div>
    <!-- COLUMN 7 END. --><!-- COLUMN 8 BEGIN: -->
    <div class="kiosk-column">
        <div class="up-vertical" data-scroll-id="up_vertical_" data-c="" noloading="true"
             style="top:0px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-up_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="down-vertical" data-scroll-id="down_vertical_" data-c="" noloading="true"
             style="top:2px;left:1px;width:48px;height:48px;display:none">
            <div class="scroll_icon">
                <img class="s_icon" src="http://signsmart.com/beta/uploads/thumbnails/scroll-down_thumb__48.png"
                     style="max-width:48px;max-height:48px">
            </div>
        </div>
        <div class="skin-box " id="box_8_0" data-i="0" not_scroll="0" data-c="8" data-r="0" system_id="29931"
             style="width:33px;height:34px;top:411px;left:23px">

        </div>
        <div class="skin-box " id="box_8_1" data-i="1" not_scroll="0" data-c="8" data-r="1" system_id="29935"
             style="width:198px;height:34px;top:411px;left:60px">

        </div>
    </div>
    <!-- COLUMN 8 END. -->
</div>
</div>


</body>
</html>