<ul>
    <li>
        <a nav-item nav-item-route="/" nav-item-class="active" nav-active-to="parent"
           ng-href="./#/">
            <img ng-src="{{layoutPath}}/images/img_signsmart.png" alt="Kiosk"></a>
    </li>
    <li>
        <a nav-item nav-item-route="/customorder" nav-item-class="active" nav-active-to="parent"
           ng-href="./#/customorder">
            <img ng-src="{{layoutPath}}/images/img_subscribe.png" alt="Sign up"></a>
    </li>
    <li>
        <a nav-item nav-item-route="/login" nav-item-class="active" nav-active-to="parent"
           ng-href="./#/login">
            <img ng-src="{{layoutPath}}/images/img_login.png" alt="Login"></a>
    </li>
</ul>