@charset "utf-8";
/* @@@@@[  Commons  ]@@@@@ */
.clr {
	clear:both;
}
.clrSolo {
	clear: both; 
 	font-size: 0px; 
 	line-height: 0px; 
 	margin: 0px; 
 	padding: 0px; 
 	visibility: hidden;
	height: 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.imgLeft {
	float:left;
	border:solid 2px #fff;
	margin:0 15px 5px 0;
}
.imgRight {
	float:right;
	border:solid 2px #fff;
	margin:0 0 5px 15px;
}
.thumbLeft {
	float:left;
	margin:-3px 22px 10px 0;
	border:1px solid #3777ac;
}
a:link, a:visited, a:active {
	color:#d4d4d4;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
p {
	padding:0 0 12px 0;
}
/* CSS Document */
body{
	background-color:#282828;
}
#w768h1024container_small{
	width:201px;
	height:279px;
	padding:19px 18px 18px 18px;
	background:#282828 url(../images/bg.png) 0 0 no-repeat;
	margin:0 auto;
	font-family:'EurostileExtended-Roman';
    font-weight: normal;
}
#w768h1024header_small{
	height:36px;
	position:relative;
	color:#231f20;
	background:#fff;
}
#w768h1024header_small .logoleft,
#w768h1024header_small .logoright{
	display:block;
	width:28px;
	height:22px;
	position:absolute;
	top:7px;
	overflow:hidden;
}
#w768h1024header_small .logoleft img,
#w768h1024header_small .logoright img{
	display:block;
	width:26px;
	height:20px;
	border:solid 1px #000;
}
#w768h1024header_small .logoleft{
	left:5px;
}
#w768h1024header_small .logoright{
	right:5px;
}
#w768h1024header_small table,
#w768h1024header_small table td{
	width:100%;
	height:36px;
}
#w768h1024header_small table td,
#w768h1024header_small table tr,
#w768h1024nav_small table td,
#w768h1024nav_small table tr{
	vertical-align:middle;
	text-align:center;
}
#w768h1024header_small h1{
	font:normal 10px/12px 'EurostileExtended-Roman';
}
#w768h1024header_small h2{
	font:normal 8px/8px 'EurostileExtended-Roman';
}
#w768h1024nav_small{
	height:24px;
	color:#FFF;
	font-size:10px;
	background:url(../images/bg_nav.png) 0 0 repeat-y;
}
#w768h1024nav_small table,
#w768h1024nav_small table td{
	width:100%;
	height:24px;
}
#w768h1024main_small{
	height:220px;
	background:url(../images/bg_main.png) 0 0 repeat-x;
	position:relative;
}
#w768h1024content{
	margin-top:2px;
	width:160px;
	margin-left:17px;
	font-size:8px;
	line-height:10px;
	float:left;
	color:#FFF;
	height:187px;
	overflow:hidden;
	position:relative;
}
ul.pl54{
	padding-left:5px;
	display:block;
}
ul.smallfont{
	font-size:6px;
	line-height:8px;
}
#w768h1024content li{
	display:block;
	width:100%;
}
#w768h1024content li span{
	display:inline-block;
}
#w768h1024content li.hasdot span.col2{
	margin-left:2px;
	margin-right:2px;
	border-bottom:dotted 1px #fff;
	height:6px;
}
#w768h1024content li.hasdot span.col3{
	float:right;
}
#w768h1024footer{
	height:16px;
	position:relative;
	float:left;
	width:100%;
	margin-top:19px;
}
#w768h1024container_small .btnSort{
	display:inline-block;
    width: 85px;
    margin-left: 15px;
    height: 8px;
}
#w768h1024container_small .btnSort li{
	display:inline-block;
	float:left;
	margin-left:5px;
}
#w768h1024container_small .btnSort li.clr{
	display:block;
	clear:both;
}
#w768h1024container_small .btnSort li a{
	display:inline-block;
	width:90px;
	height:30px;
	text-align:center;
	font-size:19px;
	color:#fff;
	text-decoration:none;
	line-height:30px;
	background:url(../images/btn_sort.png) 0 0 no-repeat;
}
#w768h1024container_small .btnSort li a:hover,
#w768h1024container_small .btnSort li a.current{
	background-position:bottom;
}
#w768h1024container_small .btnArrow,
#w768h1024container_small .up,
#w768h1024container_small .down{
	display:inline-block;
	width:10px;
	height:10px;
	position:absolute;
	right:0px;
	text-indent:-9999em;
}
#w768h1024container_small .btnArrowUp,
#w768h1024container_small .up{
	background:url(../images/btn_arrow_up.png) 0 0 no-repeat;
	top:0px;
}
#w768h1024container_small .btnArrowDown,
#w768h1024container_small .down{
	background:url(../images/btn_arrow_down.png) 0 0 no-repeat;
	bottom:0px;
}
#w768h1024container_small .btnSearch{
	display:inline-block;
	width:6px;
	height:7px;
	overflow:hidden;
}
#w768h1024container_small .btnSearch img{
	width:6px;
	border:none;
	float:left;
}
#w768h1024container_small .btnSearch input{
	position:absolute;
	opacity:0;
	z-index:1;
}
#w768h1024footer .alpha{
}
#w768h1024footer .alpha a{
	color:#FFF;
	font-size:5px;
	display:inline-block;
	float:left;
	margin:0 2px 0 0;
}
#w768h1024scrollLinks{
	display:inline-block;
	position:absolute;
	width:10px;
	height:22px;
	right:5px;
	bottom:32px;
	background:url(../images/bg_arrow.png) 0 0 no-repeat;
}
#w768h1024container_small .jThumbnailScroller .jTscroller {
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
	width:160px;
}
#w768h1024container_small .jTscrollerContainer {
    position: absolute;
	width:160px;
	left:0px;
}
#w768h1024az{
    display: inline-block;
    position: relative;
    margin-left: 10px;
}
#w768h1024search{
    position: absolute;
}